/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- BASE IGN --- */
body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    width: 600px;
    height: 700px;
    background: #f3f3f3; /* gris très clair IGN */
    color: #2b2b2b;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* --- HEADER STYLE IGN --- */
header {
    background: white;
    padding: 18px 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    color: #1f8a5b; /* Vert IGN */
}

.subtitle {
    font-size: 13px;
    color: #555;
}

/* --- CONTROLES (blanc + contour gris IGN) --- */
.controls {
    display: flex;
    gap: 10px;
    padding: 15px;
    background: white;
    border-bottom: 1px solid #e0e0e0;
}

/* Boutons style IGN (verts) */
.btn {
    flex: 1;
    padding: 10px;
    border: 1px solid #2faF74;
    background: #2faF74; /* Vert IGN */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
}

.btn:hover {
    background: #1f8a5b;
    border-color: #1f8a5b;
}

.select-ign {
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    background: white;
    font-size: 14px;
    cursor: pointer;
    flex: 1;
    color: #2b2b2b;
}

.select-ign:hover {
    border-color: #1f8a5b;
}


/* --- MAP --- */
#map {
    flex: 1;
    background: #e5e5e5; /* gris clair IGN */
}

/* --- FOOTER (blanc + fin trait gris) --- */
footer {
    background: white;
    padding: 12px 20px;
    border-top: 1px solid #e0e0e0;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #444;
    font-family: "Courier New", monospace;
}

.info span {
    padding: 5px 8px;
    background: #f3f3f3;
    border-radius: 3px;
}

/* --- CONTROLES LEAFLET (sobre, blanc, carrés) --- */
.leaflet-control-zoom {
    border: 1px solid #dcdcdc !important;
    border-radius: 3px !important;
    box-shadow: none !important;
}

.leaflet-control-zoom a {
    background: white !important;
    color: #1f8a5b !important; /* vert IGN */
    font-weight: bold !important;
    border-bottom: 1px solid #dcdcdc !important;
}

.leaflet-control-zoom a:last-child {
    border-bottom: none !important;
}

.leaflet-control-zoom a:hover {
    background: #e9f6f0 !important; /* léger vert pâle */
}

/* --- Popup IGN --- */
.leaflet-popup-content-wrapper {
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.leaflet-popup-tip {
    background: white;
    border: 1px solid #dcdcdc;
}

